extends ../shared/template
block content
  h2 Address Book
  .row
    .col-xs-12
      table.table.table-hover
        thead
          th Name
          th Twitter
          th Facebook
          th Address
        tbody
          each address in addresses
            .address(data-address-id=address._id.toString())
              tr(style='background-color:#{address.color};')
                td= address.name
                td: a(href='http://www.twitter.com/#{address.twitter}')= address.twitter
                td= address.facebook
                td= address.address
                td
                  form(method='post', action='/addresses/#{address._id}/delete')
                    button.delete.btn.btn-danger Delete


block scripts
  script(src='/js/user/addressIndex.js')

